<div class="container">

  <ul class="list-unstyled">
    <li class="card">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">

          <app-user-image
            (myevent)="moreInfo($event)"
            [xyz]="user"></app-user-image>

        </div>

        <div class="col-md-9 col-sm-9 col-xs-9" >

          <app-user-info [user]="user"></app-user-info>

        </div>
      </div>
    </li>
  </ul>
</div>


<!-- <div class="card" style="width: 18rem;">
  <img [src]="user.image" class="card-img-top" >
  <div class="card-body">
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <p class="card-text">
      <em>Income : <span [innerHTML]="user.income"></span> </em>
      <em>Date of Birth : {{ user.dob }}</em>
    </p>

  </div>
</div> -->
